$small: 500px;
@media screen and (max-width: $small) {
    body{
        background: linear-gradient(52deg, rgba(107,11,120,1) 0%, rgba(63,9,121,1) 39%, rgba(112,48,222,1) 72%, rgba(52,163,245,1) 100%);
    }
    #app{
        margin:0!important;  
    }
    .semi{
        height: 60vh;
        margin-bottom: 25px!important;
    }
    .full{
        height: 100vh;
    }
    .app-body {
        background: rgba(255, 255, 255, 0.1);
        position: relative;
        width: 80%;
        margin: auto;
        padding: 15px 0;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 0px 3px 5px 2px #f2b8f2;
        & img{
            position: absolute;
            bottom: 40px;
            right: -10px;
            animation: showIcon 2s linear;
        }
        & input{
            background: transparent;
            border: 1px solid #feefff;
            border-right: none;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            color: #ffffff;
            height: 40px;
            padding-left: 10px;
            font-weight: 600;
        }
        & button{
            background: transparent;
            border: 1px solid #feefff;
            border-left: none;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            color: #ffffff;
            height: 40px;
            padding: 7.3px;
            font-weight: 600;
        }
        & #city {
            position: absolute;
            left: 0;
            right: 0;
            top: 80px;
            color: #ffffff;
            font-size: 45px;
            font-weight: 700;
            
        }
        & #error-search {
            position: absolute;
            margin: auto;
            top: 40vh;
            left: 0;
            right: 0;
            width: 80%;
            font-size: 30px;
            font-weight: 600;
            color: #ffffff;
        }
        & #current {
            position: absolute;
            left: 25px;
            bottom: 45px;
            color: #ffffff;
            font-size: 30px;
            font-weight: 700;
        }
        & #temperature {
            position: absolute;
            bottom: 35%;
            left: 0;
            right: 0;
            font-size: 65px;
            color: #ffffff;
            font-weight: 700;
        }
    }
    .five-table{
        width: 100%;
        margin: auto; 
        color: #ffffff;
        & td{
            float: left;
            width: 15%;
            min-height: 45px;
            &:nth-child(1){
                width: 20%;
            }
            &:nth-child(2){
                width: 10%;
            }
            &:nth-child(3){
                width: 25%;
            }
            &:nth-child(4){
                width: 30%;
            }
        }
    }
    .table-wrapper{
        overflow-x: auto;
        padding: 0;
        margin-bottom: 25px;
    }
    .hour-table{
        width: 165%;
        margin: 20px auto; 
        color: #ffffff;
        & tr{
            display: inline-block;
            min-height: 130px;
            position: relative;
        }
        & td{
            display: block;
            margin: 0 5px;
            width: 45px;
            word-break: break-all;
            &:nth-child(4){
                position: absolute;
                bottom: 0;
            }
            & img{
                margin-left: -20px;
            }
        }
    }
    @keyframes showIcon {
        from{
            transform: scale(3);
            bottom: 1100px;
            opacity: 0;
        }
        to{
            transform: scale(1);
            bottom: 40px;
            opacity: 1;
        }
    }
}