.text-row {
  width: 65%;
  margin: auto;
}

.text-row .col-6 {
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 5px;
}

.text-row .col-6 p {
  margin: 0;
  padding: 10px 0;
}

.text-row img {
  height: 25px;
  width: 25px;
  margin: 0px 15px;
}

@media screen and (max-width: 500px) {
  body {
    background: linear-gradient(52deg, #6b0b78 0%, #3f0979 39%, #7030de 72%, #34a3f5 100%);
  }
  #app {
    margin: 0 !important;
  }
  .semi {
    height: 60vh;
    margin-bottom: 25px !important;
  }
  .full {
    height: 100vh;
  }
  .app-body {
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    width: 80%;
    margin: auto;
    padding: 15px 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-box-shadow: 0px 3px 5px 2px #f2b8f2;
            box-shadow: 0px 3px 5px 2px #f2b8f2;
  }
  .app-body img {
    position: absolute;
    bottom: 40px;
    right: 5px;
    -webkit-animation: showIcon 2s linear;
            animation: showIcon 2s linear;
  }
  .app-body input {
    background: transparent;
    border: 1px solid #feefff;
    border-right: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #ffffff;
    height: 40px;
    padding-left: 10px;
    font-weight: 600;
  }
  .app-body button {
    background: transparent;
    border: 1px solid #feefff;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #ffffff;
    height: 40px;
    padding: 7.3px;
    font-weight: 600;
  }
  .app-body #city {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
  }
  .app-body #error-search {
    position: absolute;
    margin: auto;
    top: 40vh;
    left: 0;
    right: 0;
    width: 80%;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
  }
  .app-body #current {
    position: absolute;
    left: 25px;
    bottom: 45px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
  }
  .app-body #temperature {
    position: absolute;
    bottom: 35%;
    left: 0;
    right: 0;
    font-size: 65px;
    color: #ffffff;
    font-weight: 700;
  }
  .five-table {
    width: 100%;
    margin: auto;
    color: #ffffff;
  }
  .five-table td {
    float: left;
    width: 15%;
    min-height: 45px;
  }
  .five-table td:nth-child(1) {
    width: 20%;
  }
  .five-table td:nth-child(2) {
    width: 10%;
  }
  .five-table td:nth-child(3) {
    width: 25%;
  }
  .five-table td:nth-child(4) {
    width: 30%;
  }
  .table-wrapper {
    overflow-x: auto;
    padding: 0;
    margin-bottom: 25px;
  }
  .hour-table {
    width: 165%;
    margin: 20px auto;
    color: #ffffff;
  }
  .hour-table tr {
    display: inline-block;
    min-height: 130px;
    position: relative;
  }
  .hour-table td {
    display: block;
    margin: 0 5px;
    width: 45px;
  }
  .hour-table td:nth-child(4) {
    position: absolute;
    bottom: 0;
  }
  .hour-table td img {
    margin-left: -20px;
  }
  @-webkit-keyframes showIcon {
    from {
      -webkit-transform: scale(3);
              transform: scale(3);
      bottom: 1100px;
      opacity: 0;
    }
    to {
      -webkit-transform: scale(1);
              transform: scale(1);
      bottom: 40px;
      opacity: 1;
    }
  }
  @keyframes showIcon {
    from {
      -webkit-transform: scale(3);
              transform: scale(3);
      bottom: 1100px;
      opacity: 0;
    }
    to {
      -webkit-transform: scale(1);
              transform: scale(1);
      bottom: 40px;
      opacity: 1;
    }
  }
}
/*# sourceMappingURL=main.css.map */