.text-row{
    width: 65%;
    margin: auto;
}
.text-row .col-6{
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}
.text-row .col-6 p{
    margin: 0;
    padding: 10px 0;
}
.text-row img{
    height: 25px;
    width: 25px;
    margin: 0px 15px;
} 
@import './responsive';