<template>
    <div>
        <div class="app-body" v-bind:class="cityKey ? 'semi' : 'full' ">
            <input @keyup.enter="getCityKey(city)" type="text" name="city" placeholder="Enter city" v-model="city" />
            <button @click="getCityKey(city)">Show</button>
            <p v-if="error !== ''" id="error-search">{{error}}</p>
            <p v-if="cityName" id="city">{{cityName}}</p>
            <p id="temperature">{{temperature}}</p>
            <p id="current">{{weatherText}}</p>
            <img v-if="picture && picture !== 0" :src="getImgUrl(picture)" height="80px"/>
        </div>
        <Hourly v-if="cityKey" v-bind:cityKey='cityKey'/>
        <Five v-if="cityKey" v-bind:cityKey='cityKey'/>
    </div>
</template>
<script>
import axios from 'axios';
import Five from './Five.vue';
import Hourly from './Hourly.vue';

export default {
    name: 'Data',
    components: {
        Five,
        Hourly
    },
    data: function () {
      return {
        city: '',
        cityKey: 0,
        cityName: '',
        country: '',
        error: '',
        weatherText: '',
        temperature: '',
        picture: 0
      }
    },
    created(){
        navigator.geolocation.getCurrentPosition(this.onSuccess, this.onError)
    },
    methods: {
        getCityKey(city){
            this.error = "";
            this.cityKey = 0;
            axios.get('http://dataservice.accuweather.com/locations/v1/cities/search?apikey=GjPtSIn4TvSol2uYT40SROH6uxHuA41q&q=' + city)
            .then((resp)=>{
                if(resp.data.length === 0){
                    this.error = `За съжаление не намерихме данни за търсеният от вас град`;
                    this.cityName = '';
                    this.temperature = '';
                    this.weatherText = '';
                    this.picture = 0;
                }
                else{
                    this.cityKey = resp.data[0].Key;
                    this.cityName = resp.data[0].LocalizedName;
                    this.country = resp.data[0].Country.EnglishName;
                    axios.get('http://dataservice.accuweather.com/currentconditions/v1/'+this.cityKey+'?apikey=GjPtSIn4TvSol2uYT40SROH6uxHuA41q')
                    .then((resp)=>{
                        this.weatherText = resp.data[0].WeatherText;
                        this.temperature = Math.round(resp.data[0].Temperature.Metric.Value) + '°C';
                        this.picture = resp.data[0].WeatherIcon;
                    })                                   
                }
            })
        },
        getImgUrl(icon) {
            var images = require.context('../assets/img/')
            return images('./' + icon + ".png")
        },
        onSuccess(position) {
              axios.get('https://api.bigdatacloud.net/data/reverse-geocode-client?latitude='+position.coords.latitude+'&longitude='+position.coords.longitude+'&localityLanguage=en')
              .then((resp) => {
                  this.city = resp.data.city;
                  this.getCityKey(resp.data.city)
                  })
        },
        onError(error) {
            alert('code: '    + error.code    + '\n' +
              'message: ' + error.message + '\n');
        }
    }
}
</script>