<template>
    <div>
        <table class="five-table" v-if="items"> 
            <tbody>
                <tr v-for="(item,i) in items" :key="i">
                    <td>{{ item.date }}</td>
                    <td>{{ item.day }}</td>
                    <td><img height="35px" :src="getImgUrl(item.icon)"/></td> 
                    <td>{{ item.text }}</td>  
                    <td>{{ item.temperature }}</td> 
                </tr>
            </tbody>            
        </table>
    </div>
</template>
<script>
import axios from 'axios';

export default {
    name: 'Five',
    props: {
      cityKey: String
    },
    data: function () {
        return {    
            items: [
            ],
            date: new Date(),
            day: ''
        }
    },
    mounted(){
        axios.get('http://dataservice.accuweather.com/forecasts/v1/daily/5day/'+this.cityKey+'?apikey=GjPtSIn4TvSol2uYT40SROH6uxHuA41q&metric=true')
        .then((resp)=>{
            resp.data.DailyForecasts.forEach(element => {
                this.date = new Date(element.Date).toDateString().substring(4, 10);
                this.day = new Date(element.Date).toDateString().substring(0, 4);
                this.items.push({   
                    date: this.date, 
                    day: this.day,
                    temperature: Math.round(element.Temperature.Minimum.Value) + '/'+ Math.round(element.Temperature.Maximum.Value) + '°', 
                    text:element.Day.IconPhrase,
                    icon: element.Day.Icon
                });
            });
        })        
    },
    methods: {
        getImgUrl(icon) {
            var images = require.context('../assets/img/')
            return images('./' + icon + ".png")
        }
    }
}
</script>