<template>
    <div class="table-wrapper">
        <table class="hour-table" v-if="items"> 
            <tbody>
                <tr v-for="(item,i) in items" :key="i">
                    <td>{{ item.hour }}</td>
                    <td><img height="50px" :src="getImgUrl(item.icon)"/></td> 
                    <td>{{ item.text }}</td>  
                    <td>{{ item.temperature }}</td> 
                </tr>
            </tbody>            
        </table>
    </div>
</template>
<script>
import axios from 'axios';

export default {
    name: 'Hourly',
    props: {
      cityKey: String
    },
    data: function () {
        return {    
            items: [
            ],
            hour: ''
        }
    },
    mounted(){
        axios.get('http://dataservice.accuweather.com/forecasts/v1/hourly/12hour/'+this.cityKey+'?apikey=GjPtSIn4TvSol2uYT40SROH6uxHuA41q&metric=true')
        .then((resp)=>{
            console.log(resp)
            resp.data.forEach(element => {
                this.hour = element.DateTime.substring(11, 16);
                this.items.push({   
                    hour: this.hour, 
                    temperature: Math.round(element.Temperature.Value) + '°C', 
                    text: element.IconPhrase.substring(0, 5) + '...',
                    icon: element.WeatherIcon
                });
            });
        })        
    },
    methods: {
        getImgUrl(icon) {
            var images = require.context('../assets/img/')
            return images('./' + icon + ".png")
        },
    }
}
</script>